root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{gradle,java,mwe2,xtend,xtext}]
indent_style = tab
indent_size = 4

[*.{html,js,json,jsx,scss,ts,tsx,yml}]
indent_style = space
indent_size = 2

