# SPDX-FileCopyrightText: 2021-2023 The Refinery Authors
#
# SPDX-License-Identifier: EPL-2.0

root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80
ij_wrap_on_typing = true

[*.{gradle,java,kts,mwe2,xtend,xtext}]
indent_style = tab
indent_size = 4
# Mimic Eclipse continuation indent style in IntelliJ
max_line_length = 120
ij_continuation_indent_size = 8
ij_any_indent_case_from_switch = false

[*.{grammar,html,js,json,jsx,scss,ts,tsx,yml}]
indent_style = space
indent_size = 2

[libs.versions.toml]
max_line_length = 999

[*.{ecore,genmodel}]
max_line_length = 999

[*.mwe2]
max_line_length = 999
