*._trace
.classpath
.idea/
.gradle/
.launch
.log/
.node/
.pnp.*
.project
.settings
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
bin/
build/
dev-dist/
emf-gen/
node_modules/
*.typegen.ts
xtend-gen/
*.xtendbin
xtext-gen/
