# SPDX-FileCopyrightText: 2021-2023 The Refinery Authors
#
# SPDX-License-Identifier: CC0-1.0

.yarn/releases/** binary
.yarn/plugins/** binary
*.cjs eol=lf
*.css eol=lf
*.js eol=lf
*.json eol=lf
*.jsx eol=lf
*.grammar eol=lf
*.scss eol=lf
*.ts eol=lf
*.tsx eol=lf
