*._trace
.classpath
.gradle/
.launch
.log/
.node/
.pnp.*
.project
.settings
.vscode/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
bin/
build/
emf-gen/
xtend-gen/
*.xtendbin
xtext-gen/
