<!--
    SPDX-FileCopyrightText: 2024-2026 The Refinery Authors <https://refinery.tools/>

    SPDX-License-Identifier: EPL-2.0
-->
<configuration>
    <!--
        Make sure to propagate the logging level to java.util.logging. See
        https://logback.qos.ch/manual/configuration.html#LevelChangePropagator
    -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <variable name="REFINERY_DEFAULT_LOG_LEVEL" value="INFO"/>
    <include resource="logback-refinery.xml"/>
    <!--
        Silence warning about MessageBodyWriter<java.awt.image.RenderedImage>,
        since we don't use this provider and don't need the noise in the logs.
    -->
    <logger name="org.glassfish.jersey.message.internal" level="ERROR"/>
</configuration>
